@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color1:#FFFFFF;
    --color2:#0C0C0C;
    --color3:#EE6F43;
    --color4:#20292E;
    --color5:#F7F7F7;
    --color7:#41484C;
    --color8:#1F282D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    transition: all 1s;
    text-decoration: none;
    list-style: none;
}

/*Inicio nav*/

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 3em;
    position: fixed;
    background: var(--color1);
    width: 100vw;
    height: 60px;
    border: 1px solid rgb(221, 221, 221);
}

.easy-polish-logo img {
    width: 100px;
}

.burger {
    border: none;
    background: none;
    border-top: 2px solid black;
    cursor: pointer;
    display: none;
}
.burger::before,
.burger::after {
    content: '';
    display: block;
    margin-top: 0.5em;
    background: var(--color2);
    width: 30px;
    height: 2px;
    position: relative;
}

.nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    font-size: 12pt;
    font-weight: 500;
}
.nav-list li a {
    color: var(--color2);
    cursor: pointer;
}
.nav-list a:hover {
    opacity: 0.7;
}

.socials-logo {
    display: flex;
    gap: 1em;
    align-items: center;
    padding: 1em;
}
#socials-logo {
    display: none;
}

.socialy img,.socialf img {
    width: 20px;
    cursor: pointer;
}

.sociali img {
    width: 25px;
    cursor: pointer;
}
.socialy img:hover,.socialf img:hover {
   opacity: 0.7;
}

.sociali img:hover {
    opacity: 0.7;
}

.nav_button {
    padding: 1.5em;
    border: none;
    border-radius: 3em;
    font-weight: 500;
    background: var(--color3);
    cursor: pointer;
}
#nav_button {
    display: none;
}
.nav_button:hover {
   opacity: 0.7;
}
.nav_button a {
    color: var(--color1);
}


/*Fim nav*/
/*Inicio first section*/

.first-section {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(../assets/imgs/main_photo.jpg);
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
}
.first-section h1 {
    font-size: 40pt;
    width: 450px;
    margin-top: 2em;
    color: white;
}

/*Fim first section*/

/*Inicio second section*/
.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
    background: var(--color5);
}

.second-section p {
    max-width: 890px;
    text-align: justify;
    padding: 1em;
    margin-bottom: 2em;
    color: var(--color7);
}

.subscribe_button {
    padding: 1.9em;
    border: none;
    border-radius: 3em;
    font-weight: 500;
    background: var(--color3);
    cursor: pointer;
    font-weight: 600;
}

.subscribe_button:hover {
    opacity: 0.7;
 }
 .subscribe_button a {
     color: var(--color1);
 }
/*Fim second section*/

/*Inicio third section*/
.third-section {
    display: flex;
    padding: 3em;
    align-items: center;
    justify-content: center;
    gap: 1.7em;
}
.third-section-first-video, .third-section-second-video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third-section-first-video h1, .third-section-second-video h1 {
    font-size: 30pt;
    padding: 1em;
    color: var(--color8);
    text-align: center;
}
.third-section-first-video p, .third-section-second-video p {
    text-align: justify;
    max-width: 450px;
    margin-bottom: 2em;
    color: var(--color8);
}

.button_video {
    padding: 1.9em;
    border: none;
    border-radius: 3em;
    font-weight: 500;
    background: var(--color3);
    cursor: pointer;
    font-weight: 600;
}

.button_video a {
    color: var(--color1);
}

/*Fim third section*/

/*Inicio footer*/

footer {
    display: flex;
    flex-direction: column;
    background: var(--color4);
    color: var(--color1);
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 3em;
}

footer hr {
    width: 140px;
    margin: 4em auto 0.2em;
}

.first-footer p {
    max-width: 750px;
    padding: 1em;
}

.socials-footer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1em;
    margin-bottom: 4em;
}

.yout img, .insta img, .face img {
    border: 1px solid white;
    background: var(--color1);
    padding: 0.2em;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.yout img:hover, .insta img:hover, .face img:hover {
   opacity: 0.7;
}

.second-footer {
    padding: 2em;
    margin-bottom: 3em;
}

.second-footer p {
    max-width: 750px;
    padding: 1em;
}

.second-footer img {
    border-radius: 3em;
    width: 200px;
}

.first-span {
    display: flex;
    color: var(--color7);
}

.second-span {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    color: var(--color7);
    margin-top: 3em;
}

/*Fim footer*/

/*Inicio Medias Queries*/

@media (max-width:1050px) {
    .third-section-first-video iframe, .third-section-second-video iframe {
        width: 450px;
        height: 250px;
    }
    .third-section-first-video h1, .third-section-second-video h1 {
        font-size: 25pt;
    }
   
}

@media (max-width:950px) {
    .third-section {
        flex-direction: column;
    }

    .third-section-first-video iframe, .third-section-second-video iframe {
        width: 650px;
        height: 450px;
    }

    .third-section-first-video h1, .third-section-second-video h1 {
        font-size: 35pt;
    }
    .third-section-first-video p, .third-section-second-video p {
        max-width: 650px;
    }
}

@media (max-width:880px) {
    .easy-polish-logo  {
        z-index: 1;
    }
    .burger {
        display: block;
        z-index: 1;
    }

    .nav-list {
        padding: 4em;
        position: absolute;
        top: 0;
        left: 0;
        background: var(--color1);
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content:space-evenly;
        gap: 0;
        font-size: 15pt;

        clip-path: circle(100px at -90% -15%);
        pointer-events: none;
        
    }

    .socials-logo {
        display: none;
    }

    #socials-logo {
        display: flex;
        gap: 1em;
        align-items: center;
        padding: 1em;
        cursor: pointer;
    }

    .nav_button {
        display: none;
    }

    #nav_button {
        display: block;
        padding: 1.5em;
        border: none;
        border-radius: 3em;
        font-weight: 500;
        background: var(--color7);
        cursor: pointer;
    }
    #nav_button:hover {
       opacity: 0.7;
    }
    #nav_button a {
        color: var(--color1);
    }
    .second-section iframe {
        width: 650px;

    }

    .second-section p {
        max-width: 685px;
    }

    /*Estilo Ativo*/

    .nav-list.is-active {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    /*Fim Estilo Ativo*/
}

/*Fim Media Queries*/
